# 小米账号信息
MI_USER_ID=1487810896  # 注意：不是手机号或邮箱，请在「个人信息」-「小米 ID」查看
MI_PASSWORD=lj199006
MI_SPEAKER_DID=小爱音箱Play  # 小爱音箱 ID 或在米家中设置的名称

# 大模型配置（可选）
# 支持 OpenAI API

# 或支持豆包 API
DOUBAO_API_KEY=0c83e6f9-97a4-4ba9-8617-42771961bf07


# 日志级别（可选）
LOG_LEVEL=info

# 其他配置（可选）
PORT=3000